<html>
    <h1>Diagnostic mode tester!</h1>
    
    <h2>Requires jjlauer's fork of ninja for 4.0.7-SNAPSHOT that implements diagnostic error rendering</h2>
    
    <ul>
        <li><a href="/bad_route">Route not found</a></li>
        <li><a href="/template_error">Template rendering error</a></li>
        <li><a href="/bad_template">Template syntax error</a></li>
        <li><a href="/missing_template">Missing template</a></li>
        <li><a href="/app_error">Application exception (thrown via code in this project)</a></li>
        <li><a href="/dependency_error">Application exception (thrown inside jar used by this project)</a></li>
        <li><a href="/bad_request">Bad request</a></li>
        <li><a href="/forbidden">Forbidden</a></li>
        <li><a href="/not_authorized">Not authorized</a></li>
    </ul>
    
</html>